.DivCard {
    position: relative;
    width: 330px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.DivFavoriteButton {
    position: absolute;
    top: 15px;
    right: 15px;
}

.ImageCard {
    width: 100%;
    height: 481px;
    border-radius: 20px;
    cursor: pointer;
}

.CardContent {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.CardMainInfo {
    display: flex;
    justify-content: space-between;
}

.CardTitle {
    font-family: 'Source Sans 3';
    font-size: 20px;
    font-weight: 700;
}

.CardContent{
    font-family: 'Source Sans 3';
    font-size: 18px;
    font-weight: 400;
}