.MainSection {
    margin-bottom: 15px;
    padding: 15px;
    width: 99dvw;
}

.MainSectionTitle {
    font-family: "Raleway";
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
}

.MainCategoriesImage {
    cursor: pointer;
}

.Text{
    display: block;
    width: 1032px;
    color: #FFFFFF;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 400;
}

#BlockUs{
    box-sizing: border-box;
    width: 100%;
    height: 921px;
    background-image: url("../../../assets/images/us.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}