.Title{
    font-family: "Source Sans 3";
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}

.Content{
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 600;
    color: #DEDEDE;
}

.WrapList{
    max-height: 500px;
    overflow:  hidden scroll;
}

.WrapList::-webkit-scrollbar{
    width: 6px;
  }
  
.WrapList::-webkit-scrollbar-track{
    background-color: #2E3345;
    border-radius: 100px;
    margin: 5px;
}
  
.WrapList::-webkit-scrollbar-thumb {
    background-color: #BDFF2E;
    border-radius: 100px;
}